:root {
  --primary-light-hsl: 0, 100%, 91%;
  --primary-hsl: 0, 100%, 50%;
  --primary-dark-hsl: 0, 100%, 6%;
}

.full_screen_container {
  height: calc(100vh - 6.25rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  --color: hsl(var(--primary-dark-hsl), 0.7);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  padding: 40px 30px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_title {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_group label {
  color: white;
  font-weight: lighter;
}

.input_group input {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: hsl(var(--primary-light-hsl), 0.3);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-weight: lighter;
}

.input_group input:focus {
  box-shadow: 0 0 0 1px (hsl(var(--primary-hsl)));
}

.login_button,
.register_button {
  padding: 0.5rem 1rem;
  font-size: 1.5em;
  font-weight: lighter;
  color: white;
  background-color: hsl(var(--primary-hsl), 0.25);
  border: 1px solid hsl(var(--primary-hsl));
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
}

.login_button:hover,
.register_button:hover,
.login_button:focus,
.register_button:focus {
  background-color: hsl(var(--primary-hsl), 0.4);
}
