.dropdown_container {
  width: 13.3rem;
  position: relative;
}

.input_container {
  position: relative;
  width: 100%;
}

.dropdown_container input {
  width: 100%;
  padding: 0;
  border-width: 1px;
  height: 2.25rem;
  padding-left: 0.6rem;
}

.input_arrow_container {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -2px;
  cursor: pointer;
}

.input_arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(45deg);
  -webkit-transform: rotate(45deg);
}

.option {
  height: 2.25rem;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 0.6rem;
  cursor: pointer;
  background-color: white;
}

.option:hover {
  background-color: royalblue;
}

.dropdown {
  border: 1px solid black;
  border-bottom: none;
  position: absolute;
  width: 100%;
  display: none;
  max-height: 13.6rem;
  overflow: hidden;
  overflow-y: scroll;
}

.dropdown.visible {
  display: block;
}

.input_clear_container {
  position: absolute;
  right: 1.87rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
