.page_container {
  height: calc(100vh - 6.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_btn {
  padding: 8rem 8rem;
  font-size: 3rem;
}

.team_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container {
  height: 500px;
  width: 500px;
}

.poke_image {
  height: 100%;
  width: 100%;
}

.delete_btn {
  height: 25px;
  width: 25px;
}
