.page_container {
  height: calc(100vh - 6.25rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_btn {
  padding: 8rem 8rem;
  font-size: 3rem;
}

.team_container {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid white;
  gap: 20px;
}

.img_container {
  /* height: 25rem;
  width: 25rem; */
  height: 46%;
  width: 27%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.poke_image {
  height: 100%;
  width: 100%;
}

.delete_btn {
  position: absolute;
  height: 25px;
  width: 25px;
  color: white;
  top: 15px;
  right: 15px;
}

.delete_btn:hover {
  color: red;
  cursor: pointer;
}
